@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-dots {
  position: absolute;
  bottom: 4px;
}

.slick-dots li button:before {
  font-size: 10px;
}

.slick-dots li.slick-active button:before {
  color: white;
  border: none;
}
/* .slick-dots li button:before {
  border: 1px solid white;
} */

.slick-slide {
  position: relative;
}

.kp-banner .slick-slide::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 30%; /* Adjust the height as needed */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  ); /* Adjust the opacity and color as needed */
}

/* .slick-next {
  position: absolute;
  right: -10px;
}

.slick-prev {
  position: absolute;
  left: -10px;
} */

.kp-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  width: 100%;
}

.kp-direction-flow:nth-child(2n) {
  direction: rtl;
}
