:root {
  -text-xs: 8px;
  --text-2xs: 10px;
  --text-sm: 12px;
  --text-2sm: 14px;
  --text-md: 16px;
  --text-base: var(--text-md);
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 22px;
  --heading-sm: 24px;
  --heading-md: 30px;
  --heading-lg: 36px;
  --heading-xl: 42px;
  --heading-2xl: 71px;
  --heading-3xl: 108px;
  --pdp-text-xs: 8px;
  --pdp-text-2xs: 10px;
  --pdp-text-sm: 12px;
  --pdp-text-2sm: 14px;
  --pdp-text-base: 16px;
  --pdp-text-lg: 18px;
  --pdp-text-xl: 20px;
  --pdp-text-2xl: 22px;
  --pdp-heading-xs: 24px;
  --pdp-heading-2xs: 26px;
  --pdp-heading-sm: 28px;
  --pdp-heading-2sm: 30px;
  --pdp-heading-base: 32px;
  --pdp-heading-lg: 34px;
  --pdp-heading-2lg: 36px;
  --pdp-heading-3lg: 40px;
  --pdp-heading-xl: 42px;
  --pdp-heading-2xl: 44px;
  --pdp-heading-3xl: 56px;
  --left-margin-lg: 20px;
  --left-margin-xl: 30px;
  --left-margin-2xl: 50px;
  --cr-black: #000;
  --cr-dark: #333;
  --cr-info-dark: #1a4039;
  --cr-info: #48847b;
  --cr-info-light: #a3c8c2;
  --cr-primary-light-dark: #adbe88;
  --cr-primary-dark: #59702f;
  --cr-primary-lightest: #cfc;
  --cr-primary-ligter: #99b949;
  --cr-primary-light: #7eaa2f;
  --cr-primary: #80a03c;
  --cr-primary-o4: #80a03c0d;
  --cr-primary-o3: #80a03c1d;
  --cr-primary-o2: #80a03c26;
  --cr-primary-o1: #80a03c8b;
  --cr-secondary: #868686;
  --cr-secondary-light: #b9b9b9;
  --cr-secondary-lighter: #606060;
  --cr-danger: #b26442;
  --cr-danger-light: #c97b5a;
  --cr-danger-lighter: #cc8364;
  --cr-danger-lightest: #d08e71;
  --cr-warning: #eded7e;
  --cr-light-4: #ededed;
  --cr-light-3: #f2f1eb;
  --cr-light-2: #fff5f1;
  --cr-light: #fffbf6;
  --cr-white: #fff;
}
